## The purpose of this file
Make summary statistics of temporal network and save it.<br>The output dataframe has eight colums like this:<br>
|  | $\tau$ | $\Delta$ | $\overline{N}$ | $N_{min}$ | $N_{max}$ | $\overline{L}$ | $L_{min}$ | $L_{max}$ | $\overline{<k>}$ |
|--|:-------|:---------|----------------|-----------|-----------|----------------|-----------|-----------|-------------------------|
| hashtag|  |          |                |           |           |                |           |           |                         |

In [1]:
import sys
sys.path.append('../')
import toolbox as tb
import pandas as pd
import numpy as np

In [2]:
tag = "anime"
hashtag = "アニメ"
timespan = "23-23"
delta = "15 minutes"
#delta = "1 hour"
tau = 86
df = pd.read_pickle(f'../data/time_evolution/{tag}/time-evolution_{timespan}_{tau}.pkl')
df.head()

   tau     N      L        <k>
0    1   251   3131  24.948207
1    2   541   6764  25.005545
2    3   703   9214  26.213371
3    4   832  11200  26.923077
4    5  1009  14074  27.896928

In [3]:
N_min, N_max, N_ave = np.min(df["N"]), np.max(df["N"]), np.round(np.mean(df["N"]), decimals=2)
L_min, L_max, L_ave = np.min(df["L"]), np.max(df["L"]), np.round(np.mean(df["L"]), decimals=2)
ave_k_braket = np.round(np.mean(df["<k>"]), decimals=2)

In [4]:
fname = f'../data/temporal_network_summary_statistics/{tag}/sstn_{timespan}_{tau}.pkl'
statistics = pd.DataFrame({"tau":tau, "delta":delta, "N_ave":N_ave, "N_min":N_min, "N_max":N_max, "L_ave":L_ave, "L_min":L_min, "L_max":L_max,"overline<k>": ave_k_braket}, index=[hashtag])
statistics.to_pickle(fname)
print(fname)
statistics

../data/temporal_network_summary_statistics/anime/sstn_23-23_86.pkl

,tau,delta,N_ave,N_min,N_max,L_ave,L_min,L_max,overline<k>
アニメ,86,15 minutes,5261.19,251,11422,92755.27,3131,216570,33.52