## The purpose of this file
Make summary statistics of temporal network and save it.<br>The output dataframe has eight colums like this:<br>
|  | $\tau$ | $\Delta$ | $\overline{N}$ | $N_{min}$ | $N_{max}$ | $\overline{L}$ | $L_{min}$ | $L_{max}$ | $\overline{<k>}$ |
|--|:-------|:---------|----------------|-----------|-----------|----------------|-----------|-----------|-------------------------|
| hashtag|  |          |                |           |           |                |           |           |                         |

In [1]:
import sys
sys.path.append('../')
import toolbox as tb
import pandas as pd
import numpy as np

In [2]:
tag = "campaign"
hashtag = "キャンペーン"
timespan = "21-22"
delta = "30 minutes"
#delta = "1 hour"
tau = 90
df = pd.read_pickle(f'../data/time_evolution/{tag}/time-evolution_{timespan}_{tau}.pkl')
df.head()

   tau    N     L        <k>
0    1  149  1751  23.503356
1    2  190  2204  23.200000
2    3  275  3433  24.967273
3    4  362  4779  26.403315
4    5  366  4793  26.191257

In [3]:
N_min, N_max, N_ave = np.min(df["N"]), np.max(df["N"]), np.round(np.mean(df["N"]), decimals=2)
L_min, L_max, L_ave = np.min(df["L"]), np.max(df["L"]), np.round(np.mean(df["L"]), decimals=2)
ave_k_braket = np.round(np.mean(df["<k>"]), decimals=2)

In [4]:
fname = f'../data/temporal_network_summary_statistics/{tag}/sstn_{timespan}_{tau}.pkl'
statistics = pd.DataFrame({"tau":tau, "delta":delta, "N_ave":N_ave, "N_min":N_min, "N_max":N_max, "L_ave":L_ave, "L_min":L_min, "L_max":L_max,"overline<k>": ave_k_braket}, index=[hashtag])
statistics.to_pickle(fname)
print(fname)
statistics

../data/temporal_network_summary_statistics/campaign/sstn_21-22_90.pkl

,tau,delta,N_ave,N_min,N_max,L_ave,L_min,L_max,overline<k>
キャンペーン,90,30 minutes,8066.17,149,16230,133800.97,1751,282714,31.49