## The purpose of this file
Make summary statistics of temporal network and save it.<br>The output dataframe has eight colums like this:<br>
|  | $\tau$ | $\Delta$ | $\overline{N}$ | $N_{min}$ | $N_{max}$ | $\overline{L}$ | $L_{min}$ | $L_{max}$ | $\overline{<k>}$ |
|--|:-------|:---------|----------------|-----------|-----------|----------------|-----------|-----------|-------------------------|
| hashtag|  |          |                |           |           |                |           |           |                         |

In [1]:
import sys
sys.path.append('../')
import toolbox as tb
import pandas as pd
import numpy as np

In [2]:
tag = "cheese"
hashtag = "チーズ"
timespan = "21-29"
#delta = "15 minutes"
delta = "1 hour"
tau = 217
df = pd.read_pickle(f'../data/time_evolution/{tag}/time-evolution_{timespan}_{tau}.pkl')
df.head()

   tau     N      L        <k>
0    1     6     15   5.000000
1    2    35    246  14.057143
2    3    63    476  15.111111
3    4   779   9108  23.383825
4    5  1255  15303  24.387251

In [3]:
N_min, N_max, N_ave = np.min(df["N"]), np.max(df["N"]), np.round(np.mean(df["N"]), decimals=2)
L_min, L_max, L_ave = np.min(df["L"]), np.max(df["L"]), np.round(np.mean(df["L"]), decimals=2)
ave_k_braket = np.round(np.mean(df["<k>"]), decimals=2)

In [4]:
fname = f'../data/temporal_network_summary_statistics/{tag}/sstn_{timespan}_{tau}.pkl'
statistics = pd.DataFrame({"tau":tau, "delta":delta, "N_ave":N_ave, "N_min":N_min, "N_max":N_max, "L_ave":L_ave, "L_min":L_min, "L_max":L_max,"overline<k>": ave_k_braket}, index=[hashtag])
statistics.to_pickle(fname)
print(fname)
statistics

../data/temporal_network_summary_statistics/cheese/sstn_21-29_217.pkl

,tau,delta,N_ave,N_min,N_max,L_ave,L_min,L_max,overline<k>
チーズ,217,1 hour,22705.12,6,39172,478248.56,15,893705,39.48