## The purpose of this file
Investigate the basic feature of backbone.

In [1]:
import sys
sys.path.append('../')
import toolbox as tb
import pandas as pd
import graph_tool.all as gt

In [2]:
tag = "cheese"
hashtag = "チーズ"
timespan = "23-24"
tau = 70
SL = "B0001"
G1 = gt.load_graph(f'../data/graph_data/{tag}/backbone/{hashtag}_{timespan}_{tau}_backbone_{SL}.graphml')
g1 = gt.load_graph(f'../data/graph_data/{tag}/modified/{hashtag}_{timespan}_{tau}_mdaam.graphml')

Compute $N,L,<k>,<C>$ and $Density$ of backbone.

In [3]:
ind = ['time', 'hashtag', 'N', 'L', 'ave_deg', 'C', 'Density']
tab = pd.DataFrame(index=ind)

In [4]:
N, L = G1.num_vertices(), G1.num_edges()
ave_deg = 2*L / N
density = ave_deg / (N - 1)
cc = gt.global_clustering(G1)
print(f'Clustering Coefficient, Density : ({cc}, {density})')

n, l = g1.num_vertices(), g1.num_edges()
ave_d = 2*l / n
dens = ave_d / (n - 1)
c = gt.global_clustering(g1)
print(f'Clustering Coefficient, Density : ({c}, {dens})')

r1 = [f'{timespan}_{tau}', hashtag, N, L, ave_deg, cc[0], density]
r2 = [f'{timespan}_{tau}_ori', hashtag, n, l, ave_d, c[0], dens]
tab[0] = r1
tab[1] = r2
tab.T

Clustering Coefficient, Density : ((0.8357165420659155, 0.005153479686447526), 0.0019637204172814693)
Clustering Coefficient, Density : ((0.12928038947594528, 0.012974766621544278), 0.0020321620257544664)

           time hashtag      N       L    ave_deg         C   Density
0      23-24_70     チーズ   3142    9690   6.168046  0.835717  0.001964
1  23-24_70_ori     チーズ  18277  339402  37.139793   0.12928  0.002032

In [5]:
timespan = "25-27"
tau = 122
G2 = gt.load_graph(f'../data/graph_data/{tag}/backbone/{hashtag}_{timespan}_{tau}_backbone_{SL}.graphml')
g2 = gt.load_graph(f'../data/graph_data/{tag}/modified/{hashtag}_{timespan}_{tau}_mdaam.graphml')

In [6]:
N, L = G2.num_vertices(), G2.num_edges()
ave_deg = 2*L / N
density = ave_deg / (N - 1)
cc = gt.global_clustering(G1)
print(f'Clustering Coefficient, Density : ({cc}, {density})')

n, l = g2.num_vertices(), g2.num_edges()
ave_d = 2*l / n
dens = ave_d / (n - 1)
c = gt.global_clustering(g1)
print(f'Clustering Coefficient, Density : ({c}, {dens})')

r1 = [f'{timespan}_{tau}', hashtag, N, L, ave_deg, cc[0], density]
r2 = [f'{timespan}_{tau}_ori', hashtag, n, l, ave_d, c[0], dens]
tab[2] = r1
tab[3] = r2
tab = tab.T
tab

Clustering Coefficient, Density : ((0.8357165420659155, 0.005153479686447526), 0.002517211703958692)
Clustering Coefficient, Density : ((0.12928038947594528, 0.012974766621544278), 0.0023198388338029996)

            time hashtag      N       L    ave_deg         C   Density
0       23-24_70     チーズ   3142    9690   6.168046  0.835717  0.001964
1   23-24_70_ori     チーズ  18277  339402  37.139793   0.12928  0.002032
2      25-27_122     チーズ   2241    6318   5.638554  0.835717  0.002517
3  25-27_122_ori     チーズ  15356  273499  35.621125   0.12928   0.00232

In [7]:
fname = f'../data/table/{tag}.pkl'
tab.to_pickle(fname)
print(fname)

../data/table/cheese.pkl