## The purpose of this file
Make summary statistics of temporal network and save it.<br>The output dataframe has eight colums like this:<br>
|  | $\tau$ | $\Delta$ | $\overline{N}$ | $N_{min}$ | $N_{max}$ | $\overline{L}$ | $L_{min}$ | $L_{max}$ | $\overline{<k>}$ |
|--|:-------|:---------|----------------|-----------|-----------|----------------|-----------|-----------|-------------------------|
| hashtag|  |          |                |           |           |                |           |           |                         |

In [6]:
import sys
sys.path.append('../')
import toolbox as tb
import pandas as pd
import numpy as np

In [7]:
tag = "hiroshima_jpn"
hashtag = "ええじゃろ広島の秋2022" # This variable is necessary for data processing in the module 'toolbox'.
timespan = "21-29"
#delta = "30 minutes"
delta = "1 hour"
tau = 227
df = pd.read_pickle(f'../data/time_evolution/{tag}/time-evolution_{timespan}_{tau}.pkl')
df.head()

   tau    N     L        <k>
0    1  140  1885  26.928571
1    2  235  3532  30.059574
2    3  242  3567  29.479339
3    4  307  4434  28.885993
4    5  339  5038  29.722714

In [8]:
N_min, N_max, N_ave = np.min(df["N"]), np.max(df["N"]), np.round(np.mean(df["N"]), decimals=2)
L_min, L_max, L_ave = np.min(df["L"]), np.max(df["L"]), np.round(np.mean(df["L"]), decimals=2)
ave_k_braket = np.round(np.mean(df["<k>"]), decimals=2)

In [9]:
fname = f'../data/temporal_network_summary_statistics/{tag}/sstn_{timespan}_{tau}.pkl'
statistics = pd.DataFrame({"tau":tau, "delta":delta, "N_ave":N_ave, "N_min":N_min, "N_max":N_max, "L_ave":L_ave, "L_min":L_min, "L_max":L_max,"overline<k>": ave_k_braket}, index=[hashtag])
statistics.to_pickle(fname)
print(fname)
statistics

,tau,delta,N_ave,N_min,N_max,L_ave,L_min,L_max,overline<k>
ええじゃろ広島の秋2022,227,1 hour,2189.26,140,3394,48812.95,1885,78437,43.38